/*FONTS===================================================================================*/
@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: local("../fonts/Futura New Book Reg"), local("../fonts/FuturaNewBook-Reg"), url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff"), url("../fonts/FuturaNewBook-Reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBold-Reg.eot");
  src: local("../fonts/Futura New Bold Reg"), local("../fonts/FuturaNewBold-Reg"), url("../fonts/FuturaNewBold-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBold-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBold-Reg.woff") format("woff"), url("../fonts/FuturaNewBold-Reg.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SchoolBook';
  src: url("../fonts/TeXGyreSchola-Bold.woff2") format("woff2"), url("../fonts/TeXGyreSchola-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SchoolBook';
  src: url("../fonts/TeXGyreSchola-Regular.woff2") format("woff2"), url("../fonts/TeXGyreSchola-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
/*FONTS===================================================================================*/
/* BODY===============================================================================*/
body {
  margin: 0;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  font-family: "Futura New", sans-serif;
  font-weight: normal;
  font-size: 20px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

/* Container===============================================================================*/
.container__wide {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 15px; }

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px; }

/* HEADER===============================================================================*/
.header {
  background-color: #FFFFFF;
  color: #C3B9B5;
  width: 100%;
  padding: 84px 0;
  font-weight: bold;
  line-height: 20px; }
  @media screen and (max-width: 1199px) {
    .header {
      font-weight: normal; } }
  @media screen and (max-width: 991px) {
    .header {
      position: relative;
      padding: 30px 0 260px; } }
  .header .header__inner {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1699px) {
      .header .header__inner {
        justify-content: space-between; } }
    .header .header__inner .header__logo {
      text-align: center;
      margin-right: 245px; }
      @media screen and (max-width: 1699px) {
        .header .header__inner .header__logo {
          margin-right: 0; } }
    .header .header__inner .nav__head.show {
      display: block; }
    @media screen and (max-width: 991px) {
      .header .header__inner .nav__head {
        display: none;
        width: 100%;
        text-align: center;
        position: absolute;
        right: 0;
        top: 27%;
        background-color: #59443F;
        z-index: 10; } }
    .header .header__inner .nav__head ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center; }
      @media screen and (max-width: 991px) {
        .header .header__inner .nav__head ul {
          flex-direction: column;
          text-align: center; } }
      @media screen and (max-width: 575px) {
        .header .header__inner .nav__head ul {
          align-items: flex-end;
          padding: 0 15px; } }
      .header .header__inner .nav__head ul li + li {
        margin-left: 80px; }
        @media screen and (max-width: 1699px) {
          .header .header__inner .nav__head ul li + li {
            margin-left: 50px; } }
        @media screen and (max-width: 1199px) {
          .header .header__inner .nav__head ul li + li {
            margin-left: 30px; } }
        @media screen and (max-width: 991px) {
          .header .header__inner .nav__head ul li + li {
            margin-left: 0;
            padding-top: 40px; } }
      .header .header__inner .nav__head ul li a {
        color: #C3B9B5;
        text-transform: uppercase;
        transition: color 0.3s ease; }
        .header .header__inner .nav__head ul li a:hover {
          color: #FFC59E; }
    .header .header__inner .burger {
      display: none;
      background: none;
      border: 0;
      cursor: pointer;
      padding: 9px 2px; }
      @media screen and (max-width: 991px) {
        .header .header__inner .burger {
          display: block;
          margin-left: 58px; } }
      @media screen and (max-width: 575px) {
        .header .header__inner .burger {
          margin-left: 0; } }
      .header .header__inner .burger .burger__item {
        width: 50px;
        display: block;
        height: 4px;
        background-color: #FFC59E;
        font-size: 0;
        color: transparent;
        position: relative; }
        .header .header__inner .burger .burger__item::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          z-index: 1;
          background-color: #FFC59E;
          top: -10px; }
        .header .header__inner .burger .burger__item::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          z-index: 1;
          background-color: #FFC59E;
          top: 10px; }
    .header .header__inner .header__city {
      display: flex;
      align-items: center;
      color: #FFC59E;
      text-transform: uppercase;
      margin-left: auto; }
      .header .header__inner .header__city > * + * {
        margin-left: 19px; }
        @media screen and (max-width: 1199px) {
          .header .header__inner .header__city > * + * {
            margin-left: 10px; } }
      @media screen and (max-width: 1699px) {
        .header .header__inner .header__city {
          margin-left: 0; } }
      @media screen and (max-width: 575px) {
        .header .header__inner .header__city {
          display: none; } }

/* MAIN===============================================================================*/
.main {
  background-color: #FFFFFF;
  /* INTRO===============================================================================*/
  /* SERVICES=============================================================================*/
  /*COMPANY==============================================================================*/
  /*Strengths=============================================================================*/
  /*Application==========================================================================*/
  /*Contacts==========================================================================*/
  /*SLIDER==============================================================================*/ }
  .main .intro {
    width: 100%;
    padding: 65px 0 80px; }
    .main .intro .wrapper__inner {
      padding-left: 20px; }
      .main .intro .wrapper__inner .slider__inner {
        position: relative;
        padding-left: 45px; }
        .main .intro .wrapper__inner .slider__inner .slick-dots {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0; }
          @media screen and (max-width: 1199px) {
            .main .intro .wrapper__inner .slider__inner .slick-dots {
              top: 7px; } }
          @media screen and (max-width: 991px) {
            .main .intro .wrapper__inner .slider__inner .slick-dots {
              top: 50%;
              transform: translate(0, -50%); } }
          .main .intro .wrapper__inner .slider__inner .slick-dots .slick-active,
          .main .intro .wrapper__inner .slider__inner .slick-dots :hover {
            border: 1px solid black;
            border-radius: 50%;
            box-shadow: 0 0 0 3px black; }
            @media screen and (max-width: 575px) {
              .main .intro .wrapper__inner .slider__inner .slick-dots .slick-active,
              .main .intro .wrapper__inner .slider__inner .slick-dots :hover {
                box-shadow: none;
                border: none; } }
            .main .intro .wrapper__inner .slider__inner .slick-dots .slick-active button,
            .main .intro .wrapper__inner .slider__inner .slick-dots :hover button {
              color: #080606;
              font-size: 20px;
              line-height: 20px;
              font-weight: bold;
              width: 40px;
              height: 40px;
              background-color: #fff;
              cursor: pointer; }
              @media screen and (max-width: 575px) {
                .main .intro .wrapper__inner .slider__inner .slick-dots .slick-active button,
                .main .intro .wrapper__inner .slider__inner .slick-dots :hover button {
                  font-size: 15px;
                  line-height: 100%;
                  font-weight: normal;
                  width: 15px;
                  height: 15px;
                  padding: 0;
                  color: #FFC59E; } }
          .main .intro .wrapper__inner .slider__inner .slick-dots li {
            list-style: none; }
            .main .intro .wrapper__inner .slider__inner .slick-dots li + li {
              margin: 50px 0 0; }
              @media screen and (max-width: 1199px) {
                .main .intro .wrapper__inner .slider__inner .slick-dots li + li {
                  margin: 40px 0 0; } }
              @media screen and (max-width: 575px) {
                .main .intro .wrapper__inner .slider__inner .slick-dots li + li {
                  margin: 20px 0 0; } }
            .main .intro .wrapper__inner .slider__inner .slick-dots li button {
              font-size: 20px;
              line-height: 20px;
              font-weight: bold;
              width: 40px;
              height: 40px;
              background-color: #fff;
              border-radius: 50%;
              color: #C3B9B5;
              border: none; }
              @media screen and (max-width: 575px) {
                .main .intro .wrapper__inner .slider__inner .slick-dots li button {
                  font-size: 15px;
                  line-height: 100%;
                  font-weight: normal;
                  width: 15px;
                  height: 15px;
                  padding: 0; } }
        .main .intro .wrapper__inner .slider__inner .item__inner {
          display: flex; }
          @media screen and (max-width: 991px) {
            .main .intro .wrapper__inner .slider__inner .item__inner {
              flex-direction: column;
              align-items: center; } }
          .main .intro .wrapper__inner .slider__inner .item__inner .intro__left {
            padding: 5px 0;
            margin-right: 13px;
            max-width: 826px;
            margin-left: 305px; }
            @media screen and (max-width: 1699px) {
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left {
                margin-left: 200px;
                max-width: 550px; } }
            @media screen and (max-width: 1399px) {
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left {
                margin-left: 100px;
                max-width: 370px; } }
            @media screen and (max-width: 991px) {
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left {
                margin: 0;
                max-width: 100%; } }
            @media screen and (max-width: 1199px) {
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record {
                display: flex;
                flex-direction: column; } }
            @media screen and (max-width: 991px) {
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record {
                align-items: center; } }
            .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record h1 {
              font-family: "SchoolBook", serif;
              font-size: 80px;
              font-weight: normal;
              color: #080606;
              line-height: 110px;
              margin-bottom: 50px; }
              @media screen and (max-width: 1699px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record h1 {
                  font-size: 40px;
                  line-height: 80px;
                  margin-bottom: 55px; } }
              @media screen and (max-width: 1399px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record h1 {
                  font-size: 33px; } }
              @media screen and (max-width: 1199px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record h1 {
                  font-size: 27px;
                  line-height: 50px;
                  margin-bottom: 110px; } }
              @media screen and (max-width: 991px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record h1 {
                  text-align: center; } }
              @media screen and (max-width: 575px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record h1 {
                  font-size: 25px;
                  line-height: 100%;
                  margin-bottom: 40px; } }
            .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record {
              max-width: 284.53px;
              max-height: 67px;
              background: #FFC59E;
              box-shadow: 0px 4px 20px #FFC59E;
              border-radius: 33.5px;
              border: none;
              margin-bottom: 197px;
              padding: 24px 77.04px 23px; }
              @media screen and (max-width: 1699px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record {
                  margin-bottom: 240px; } }
              @media screen and (max-width: 1199px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record {
                  margin-bottom: 112px; } }
              @media screen and (max-width: 575px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record {
                  max-width: 280px;
                  max-height: 55px;
                  padding: 15px 35px;
                  margin-bottom: 50px; } }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record:hover {
                transition: transform 0.5s ease-in-out;
                transform: scale(1.2); }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record {
                transition: transform 0.5s ease-in-out; }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record a {
                text-transform: uppercase;
                color: #FFFFFF;
                font-weight: bold;
                line-height: 20px; }
                @media screen and (max-width: 575px) {
                  .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .btn__record a {
                    font-weight: normal;
                    line-height: 100%;
                    font-size: 15px; } }
            .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .intro__socials {
              display: flex; }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .intro__socials a + a {
                margin-left: 50px; }
                @media screen and (max-width: 575px) {
                  .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .intro__socials a + a {
                    margin-left: 15px; } }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .intro__socials a:hover #facebook {
                fill: #3b5998; }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .intro__socials a:hover #instagram {
                fill: #d88921; }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .intro__socials a:hover #vkontakte {
                fill: #3b5998; }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__left .intro__record .intro__socials a:hover #youtube {
                fill: red; }
          .main .intro .wrapper__inner .slider__inner .item__inner .intro__right {
            width: 52.25%;
            padding: 5px 0;
            margin-left: 13px;
            align-self: flex-end;
            text-align: end;
            display: flex;
            flex-direction: column; }
            @media screen and (max-width: 1699px) {
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__right {
                width: 58.25%; } }
            @media screen and (max-width: 991px) {
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__right {
                width: 100%;
                margin: 0;
                padding-top: 35px; } }
            .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background {
              padding-top: 88.74%;
              position: relative; }
              @media screen and (max-width: 1399px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background {
                  padding-top: 101%; } }
              @media screen and (max-width: 1199px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background {
                  padding-top: 67%; } }
              @media screen and (max-width: 991px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background {
                  padding-top: 50%; } }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: -10%;
                z-index: -1; }
                @media screen and (max-width: 1399px) {
                  .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background img {
                    left: 0; } }
                @media screen and (max-width: 1199px) {
                  .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background img {
                    left: 3%; } }
                @media screen and (max-width: 991px) {
                  .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__background img {
                    left: 0;
                    transform: translate(50%, 0); } }
            .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__phone {
              width: 100%; }
              @media screen and (max-width: 991px) {
                .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__phone {
                  text-align: center; } }
              .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__phone a {
                color: #59443F;
                font-weight: bold;
                font-size: 24px;
                line-height: 30px; }
                @media screen and (max-width: 575px) {
                  .main .intro .wrapper__inner .slider__inner .item__inner .intro__right .right__phone a {
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 100%; } }
  .main .services {
    width: 100%;
    padding: 150px 0; }
    @media screen and (max-width: 991px) {
      .main .services {
        padding: 70px 0; } }
    .main .services .services__inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, 320px);
      grid-auto-rows: 220px;
      gap: 24px;
      justify-content: center;
      padding: 0 24px; }
      @media screen and (max-width: 1446px) {
        .main .services .services__inner {
          grid-template-columns: repeat(auto-fill, 1fr); } }
      @media screen and (max-width: 991px) {
        .main .services .services__inner {
          gap: 15px; } }
      @media screen and (max-width: 576px) {
        .main .services .services__inner {
          grid-auto-rows: 170px;
          grid-template-columns: repeat(auto-fill, 235px); } }
      .main .services .services__inner .services__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: initial;
        background-position: 89% 77%;
        padding: 24px;
        background-color: #FFFFFF;
        box-shadow: 6px 6px 3px -5px lightgrey;
        border-radius: 20px; }
        @media screen and (max-width: 576px) {
          .main .services .services__inner .services__item {
            background-size: 30%; } }
        .main .services .services__inner .services__item {
          transition: transform 0.3s ease-in-out; }
        .main .services .services__inner .services__item:hover {
          transition: transform 0.3s ease-in-out;
          transform: scale(1.2);
          border: 1px solid #FFC59E;
          box-shadow: 6px 6px 3px -5px #FFC59E; }
        .main .services .services__inner .services__item .services__title {
          display: block;
          height: 100%;
          font-family: "SchoolBook", serif;
          font-weight: normal;
          font-size: 30px;
          line-height: 40px;
          color: #59443F; }
          @media screen and (max-width: 576px) {
            .main .services .services__inner .services__item .services__title {
              font-size: 20px; } }
        .main .services .services__inner .services__item .services__text {
          font-size: 20px;
          line-height: 20px;
          color: #59443F; }
        .main .services .services__inner .services__item:nth-child(1) {
          background-image: url("../img/services/serv1.svg"); }
        .main .services .services__inner .services__item:nth-child(2) {
          background-image: url("../img/services/serv2.svg"); }
        .main .services .services__inner .services__item:nth-child(3) {
          background-image: url("../img/services/serv3.svg"); }
        .main .services .services__inner .services__item:nth-child(4) {
          background-image: url("../img/services/serv4.svg"); }
        .main .services .services__inner .services__item:nth-child(5) {
          background-image: url("../img/services/serv5.svg"); }
        .main .services .services__inner .services__item:nth-child(6) {
          background-image: url("../img/services/serv6.svg"); }
        .main .services .services__inner .services__item:nth-child(7) {
          background-image: url("../img/services/serv7.svg"); }
        .main .services .services__inner .services__item:nth-child(8) {
          background-image: url("../img/services/serv8.svg"); }
        .main .services .services__inner .services__item:nth-child(9) {
          background-image: url("../img/services/serv9.svg"); }
        .main .services .services__inner .services__item:nth-child(10) {
          background-image: url("../img/services/serv10.svg"); }
        .main .services .services__inner .services__item:nth-child(11) {
          background-image: url("../img/services/serv11.svg"); }
        .main .services .services__inner .services__item:nth-child(12) {
          background-image: url("../img/services/serv12.svg"); }
        .main .services .services__inner .services__item:nth-child(13) {
          background-image: url("../img/services/serv13.svg"); }
        .main .services .services__inner .services__item:nth-child(14) {
          background-image: url("../img/services/serv14.svg"); }
        .main .services .services__inner .services__item:nth-child(15) {
          background-image: url("../img/services/serv15.svg"); }
        .main .services .services__inner .services__item:nth-child(16) {
          background-image: url("../img/services/serv16.svg"); }
  .main .company {
    width: 100%;
    padding: 180px 0 206px; }
    @media screen and (max-width: 991px) {
      .main .company {
        padding: 100px 0; } }
    @media screen and (max-width: 575px) {
      .main .company {
        padding: 50px 0; } }
    .main .company .company__inner {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main .company .company__inner .company__history {
        max-width: 479px;
        text-align: center;
        margin-bottom: 50px; }
        @media screen and (max-width: 320px) {
          .main .company .company__inner .company__history {
            margin-bottom: 10px; } }
        .main .company .company__inner .company__history h4 {
          font-family: "SchoolBook", serif;
          font-weight: normal;
          font-size: 40px;
          line-height: 40px;
          color: #080606;
          margin-bottom: 48px; }
          @media screen and (max-width: 320px) {
            .main .company .company__inner .company__history h4 {
              font-weight: bold;
              font-size: 25px;
              line-height: 100%;
              margin-bottom: 25px; } }
        .main .company .company__inner .company__history .history__text {
          text-align: start;
          line-height: 30px;
          color: #59443F;
          margin-bottom: 36px; }
          @media screen and (max-width: 320px) {
            .main .company .company__inner .company__history .history__text {
              text-align: start;
              line-height: 110%;
              margin-bottom: 30px;
              font-size: 15px; } }
        .main .company .company__inner .company__history .history__continue {
          display: flex;
          align-items: baseline;
          justify-content: center; }
          .main .company .company__inner .company__history .history__continue a {
            font-weight: bold;
            line-height: 20px;
            color: #FFC59E;
            text-transform: uppercase;
            margin-right: 11.43px; }
          .main .company .company__inner .company__history .history__continue::after {
            display: block;
            content: url("../img/company/Path.png");
            width: 9px;
            height: 14px; }
      .main .company .company__inner .company__team {
        margin-top: 50px;
        width: 100%;
        text-align: center; }
        @media screen and (max-width: 320px) {
          .main .company .company__inner .company__team {
            margin-top: 25px; } }
        .main .company .company__inner .company__team .wrapper {
          height: 100%;
          display: flex;
          max-width: 1243px;
          align-items: center;
          margin: 0  auto; }
          .main .company .company__inner .company__team .wrapper .slider {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 36px;
            padding: 0 40px;
            position: relative; }
            @media screen and (max-width: 320px) {
              .main .company .company__inner .company__team .wrapper .slider {
                margin-bottom: 15px;
                padding: 0 32px; } }
            .main .company .company__inner .company__team .wrapper .slider .slick-arrow {
              position: absolute;
              top: 37%;
              z-index: 10;
              font-size: 0;
              width: 40px;
              height: 40px; }
            .main .company .company__inner .company__team .wrapper .slider .slick-next {
              right: 0;
              background: url("../img/company/arrow_next.svg") center center/285% no-repeat;
              border: none;
              cursor: pointer;
              box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2); }
              @media screen and (max-width: 575px) {
                .main .company .company__inner .company__team .wrapper .slider .slick-next {
                  box-shadow: none;
                  background-size: 150%; } }
            .main .company .company__inner .company__team .wrapper .slider .slick-prev {
              left: 0;
              background: url("../img/company/arrow_back.svg") center center/285% no-repeat;
              border: none;
              cursor: pointer;
              box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2); }
              @media screen and (max-width: 575px) {
                .main .company .company__inner .company__team .wrapper .slider .slick-prev {
                  box-shadow: none;
                  background-size: 150%; } }
            .main .company .company__inner .company__team .wrapper .slider .slider__item {
              flex-basis: 178px;
              height: 178px;
              margin: 0 15px; }
              @media screen and (max-width: 991px) {
                .main .company .company__inner .company__team .wrapper .slider .slider__item {
                  margin: 0 5px; } }
              @media screen and (max-width: 575px) {
                .main .company .company__inner .company__team .wrapper .slider .slider__item {
                  margin: 0 25px; } }
              @media screen and (max-width: 320px) {
                .main .company .company__inner .company__team .wrapper .slider .slider__item {
                  height: 125px; } }
              .main .company .company__inner .company__team .wrapper .slider .slider__item img {
                width: 100%;
                height: 100%;
                object-fit: contain; }
        .main .company .company__inner .company__team h4 {
          margin-bottom: 48px;
          font-family: "SchoolBook", serif;
          font-weight: normal;
          font-size: 40px;
          line-height: 40px;
          color: #080606; }
          @media screen and (max-width: 320px) {
            .main .company .company__inner .company__team h4 {
              font-weight: bold;
              font-size: 25px;
              line-height: 100%;
              margin-bottom: 5px; } }
        .main .company .company__inner .company__team .team__continue {
          display: flex;
          align-items: baseline;
          justify-content: center; }
          .main .company .company__inner .company__team .team__continue a {
            font-weight: bold;
            line-height: 20px;
            color: #FFC59E;
            text-transform: uppercase;
            margin-right: 11.43px; }
          .main .company .company__inner .company__team .team__continue::after {
            display: block;
            content: url("../img/company/Path.png");
            width: 9px;
            height: 14px; }
  .main .strengths {
    width: 100%;
    text-align: center;
    padding: 150px 0; }
    @media screen and (max-width: 1199px) {
      .main .strengths {
        padding: 100px 0; } }
    .main .strengths .container__wide h4 {
      font-family: "SchoolBook", serif;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px;
      color: #080606;
      margin-bottom: 104px; }
      @media screen and (max-width: 575px) {
        .main .strengths .container__wide h4 {
          font-size: 25px;
          line-height: 100%;
          color: #080606;
          margin-bottom: 60px; } }
    .main .strengths .container__wide .strengths__inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, 484px);
      grid-auto-rows: 226px;
      justify-content: center;
      gap: 94px; }
      @media screen and (max-width: 1686px) {
        .main .strengths .container__wide .strengths__inner {
          gap: 60px; } }
      @media screen and (max-width: 1199px) {
        .main .strengths .container__wide .strengths__inner {
          grid-template-columns: repeat(auto-fill, 400px); } }
      @media screen and (max-width: 575px) {
        .main .strengths .container__wide .strengths__inner {
          grid-template-columns: repeat(1, 1fr);
          gap: 15px; } }
      @media screen and (max-width: 906px) {
        .main .strengths .container__wide .strengths__inner .strengths__item {
          padding: 10px 0;
          display: flex;
          flex-direction: column; } }
      .main .strengths .container__wide .strengths__inner .strengths__item h5 {
        text-align: start;
        font-family: "SchoolBook", serif;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        color: #080606;
        margin-bottom: 36px; }
        @media screen and (max-width: 906px) {
          .main .strengths .container__wide .strengths__inner .strengths__item h5 {
            font-size: 25px;
            line-height: 100%;
            color: #080606;
            margin-bottom: 10px; } }
        @media screen and (max-width: 575px) {
          .main .strengths .container__wide .strengths__inner .strengths__item h5 {
            font-size: 20px; } }
      .main .strengths .container__wide .strengths__inner .strengths__item .description {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center; }
        @media screen and (max-width: 906px) {
          .main .strengths .container__wide .strengths__inner .strengths__item .description {
            flex-grow: 1; } }
        .main .strengths .container__wide .strengths__inner .strengths__item .description p {
          flex-basis: 318px;
          text-align: start;
          line-height: 30px;
          color: #59443F; }
          @media screen and (max-width: 906px) {
            .main .strengths .container__wide .strengths__inner .strengths__item .description p {
              line-height: 100%; } }
          @media screen and (max-width: 575px) {
            .main .strengths .container__wide .strengths__inner .strengths__item .description p {
              font-size: 15px; } }
        .main .strengths .container__wide .strengths__inner .strengths__item .description svg {
          flex-basis: 166px; }
  .main .application {
    width: 100%;
    background-color: #FFC59E;
    color: #FFFFFF;
    padding: 150px 0; }
    @media screen and (max-width: 1199px) {
      .main .application {
        padding: 80px 0; } }
    .main .application .application__inner {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 576px) {
        .main .application .application__inner {
          flex-direction: column;
          align-items: center; } }
      .main .application .application__inner .text__inner {
        max-width: 826px; }
        @media screen and (max-width: 576px) {
          .main .application .application__inner .text__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px; } }
        .main .application .application__inner .text__inner .text__title {
          font-family: "SchoolBook", serif;
          font-size: 80px;
          line-height: 110px;
          margin-bottom: 30px; }
          @media screen and (max-width: 1399px) {
            .main .application .application__inner .text__inner .text__title {
              font-size: 75px; } }
          @media screen and (max-width: 1199px) {
            .main .application .application__inner .text__inner .text__title {
              line-height: 100%;
              font-size: 60px; } }
          @media screen and (max-width: 991px) {
            .main .application .application__inner .text__inner .text__title {
              font-size: 50px; } }
          @media screen and (max-width: 768px) {
            .main .application .application__inner .text__inner .text__title {
              font-size: 35px; } }
          @media screen and (max-width: 576px) {
            .main .application .application__inner .text__inner .text__title {
              text-align: center;
              font-size: 25px; } }
        .main .application .application__inner .text__inner .text__subtitle {
          font-size: 30px;
          line-height: 20px;
          text-transform: uppercase;
          margin-bottom: 30px; }
          @media screen and (max-width: 768px) {
            .main .application .application__inner .text__inner .text__subtitle {
              font-size: 20px; } }
        .main .application .application__inner .text__inner .application__download a {
          font-size: 0; }
          @media screen and (max-width: 576px) {
            .main .application .application__inner .text__inner .application__download a {
              text-align: center; } }
          @media screen and (max-width: 768px) {
            .main .application .application__inner .text__inner .application__download a img {
              width: 120px; } }
        .main .application .application__inner .text__inner .application__download > a:not(:last-child) {
          margin-right: 17px; }
        .main .application .application__inner .text__inner .application__download > img {
          max-width: 100%;
          height: 100%;
          object-fit: cover; }
      .main .application .application__inner .photo__inner {
        width: 604px;
        align-self: flex-end;
        padding-top: 47%;
        position: relative; }
        @media screen and (max-width: 768px) {
          .main .application .application__inner .photo__inner {
            width: 100%; } }
        .main .application .application__inner .photo__inner img {
          max-width: 100%;
          height: 100%;
          object-fit: contain;
          position: absolute;
          top: 81px;
          left: -110px;
          z-index: 10; }
          @media screen and (max-width: 991px) {
            .main .application .application__inner .photo__inner img {
              top: 0;
              left: 0; } }
          @media screen and (max-width: 576px) {
            .main .application .application__inner .photo__inner img {
              left: 50%;
              transform: translate(-50%, 0); } }
  .main .contacts {
    width: 100%;
    padding: 235px 0 209px; }
    @media screen and (max-width: 991px) {
      .main .contacts {
        padding: 150px 0; } }
    @media screen and (max-width: 767px) {
      .main .contacts {
        padding: 50px 0; } }
    .main .contacts .contacts__inner {
      width: 100%; }
      .main .contacts .contacts__inner h2 {
        margin-bottom: 70px;
        font-family: "SchoolBook", serif;
        font-size: 40px;
        line-height: 40px;
        color: #080606; }
        @media screen and (max-width: 991px) {
          .main .contacts .contacts__inner h2 {
            margin-bottom: 40px; } }
      .main .contacts .contacts__inner .contacts__wraper {
        display: flex;
        align-items: flex-start;
        justify-content: center; }
        @media screen and (max-width: 767px) {
          .main .contacts .contacts__inner .contacts__wraper {
            flex-direction: column;
            align-items: stretch;
            text-align: center; } }
        .main .contacts .contacts__inner .contacts__wraper .contacts__geo {
          flex-basis: 484px;
          margin-right: 13px;
          display: flex;
          flex-direction: column; }
          @media screen and (max-width: 767px) {
            .main .contacts .contacts__inner .contacts__wraper .contacts__geo {
              margin-right: 0; } }
          .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location:first-child {
            margin-bottom: 53px; }
          .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location {
            width: 100%; }
            .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location h4 {
              font-family: "SchoolBook", serif;
              font-weight: normal;
              font-size: 30px;
              line-height: 40px;
              color: #080606;
              margin-bottom: 20px; }
              @media screen and (max-width: 991px) {
                .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location h4 {
                  font-size: 20px;
                  line-height: 100%; } }
            .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .adress {
              display: flex;
              align-items: center;
              line-height: 20px;
              color: #59443F;
              margin-bottom: 37px; }
              @media screen and (max-width: 991px) {
                .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .adress {
                  margin-bottom: 17px;
                  line-height: 100%; } }
              @media screen and (max-width: 767px) {
                .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .adress {
                  justify-content: center; } }
              .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .adress p {
                flex-basis: 318px;
                margin-left: 33px; }
                @media screen and (max-width: 991px) {
                  .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .adress p {
                    line-height: 100%; } }
                @media screen and (max-width: 767px) {
                  .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .adress p {
                    margin-left: 0; } }
            .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .telephone {
              display: flex;
              align-items: center;
              line-height: 20px;
              color: #59443F;
              margin-bottom: 38px; }
              @media screen and (max-width: 991px) {
                .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .telephone {
                  margin-bottom: 17px;
                  line-height: 100%; } }
              @media screen and (max-width: 767px) {
                .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .telephone {
                  justify-content: center; } }
              .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .telephone p {
                flex-basis: 318px;
                margin-left: 30px; }
                @media screen and (max-width: 767px) {
                  .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .telephone p {
                    margin-left: 0; } }
                @media screen and (max-width: 767px) {
                  .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .telephone p {
                    margin-left: 0; } }
            .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .working__hours {
              display: flex;
              align-items: center;
              line-height: 20px;
              color: #59443F; }
              @media screen and (max-width: 991px) {
                .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .working__hours {
                  line-height: 100%; } }
              @media screen and (max-width: 767px) {
                .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .working__hours {
                  justify-content: center; } }
              .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .working__hours p {
                flex-basis: 318px;
                margin-left: 35px; }
                @media screen and (max-width: 767px) {
                  .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .working__hours p {
                    margin-left: 0; } }
                @media screen and (max-width: 767px) {
                  .main .contacts .contacts__inner .contacts__wraper .contacts__geo .contacts__location .working__hours p {
                    margin-left: 0; } }
        .main .contacts .contacts__inner .contacts__wraper .contacts__map {
          flex-basis: 950px;
          margin-left: 13px; }
          @media screen and (max-width: 767px) {
            .main .contacts .contacts__inner .contacts__wraper .contacts__map {
              flex-basis: 320px;
              margin-left: 0; } }
  .main .slick-slider {
    min-width: 0; }
    .main .slick-slider .slick-list {
      overflow: hidden; }
      .main .slick-slider .slick-list .slick-track {
        display: flex;
        align-items: flex-start; }

/*FOOTER==========================================================================*/
.footer {
  width: 100%;
  padding: 80px 0 60px;
  background-color: #59443F; }
  @media screen and (max-width: 790px) {
    .footer {
      padding: 50px 0; } }
  .footer .footer__inner {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .footer .footer__inner {
        flex-direction: column;
        align-items: center; } }
    .footer .footer__inner .footer__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 170px; }
      @media screen and (max-width: 1451px) {
        .footer .footer__inner .footer__left {
          margin-right: 100px; } }
      @media screen and (max-width: 1161px) {
        .footer .footer__inner .footer__left {
          margin-right: 50px; } }
      @media screen and (max-width: 790px) {
        .footer .footer__inner .footer__left {
          margin-right: 0;
          max-width: 100%; } }
      .footer .footer__inner .footer__left .footer__label {
        display: flex;
        align-items: center;
        margin-bottom: 29px; }
        .footer .footer__inner .footer__left .footer__label .footer__logo {
          background-color: #FFFFFF;
          border-radius: 103px;
          width: 90px;
          height: 90px;
          padding: 19px 12px;
          margin-right: 22px; }
        .footer .footer__inner .footer__left .footer__label .footer__logo-name {
          color: #FFFFFF; }
          .footer .footer__inner .footer__left .footer__label .footer__logo-name span {
            font-family: "SchoolBook", serif;
            font-weight: bold;
            font-size: 50px;
            line-height: 46px; }
            @media screen and (max-width: 575px) {
              .footer .footer__inner .footer__left .footer__label .footer__logo-name span {
                line-height: 100%;
                font-size: 30px; } }
          .footer .footer__inner .footer__left .footer__label .footer__logo-name p {
            line-height: 20px;
            font-weight: normal; }
      .footer .footer__inner .footer__left .nav__footer {
        display: flex;
        justify-content: center; }
        @media screen and (max-width: 1101px) {
          .footer .footer__inner .footer__left .nav__footer {
            display: none; } }
        .footer .footer__inner .footer__left .nav__footer .nav__confident {
          flex-basis: 192px;
          margin-left: 100px; }
          @media screen and (max-width: 1451px) {
            .footer .footer__inner .footer__left .nav__footer .nav__confident {
              margin-left: 65px; } }
          .footer .footer__inner .footer__left .nav__footer .nav__confident li a {
            line-height: 30px;
            color: #FFFFFF; }
            .footer .footer__inner .footer__left .nav__footer .nav__confident li a:hover {
              color: #FFC59E; }
        .footer .footer__inner .footer__left .nav__footer .nav__main {
          flex-basis: 192px;
          margin-left: 100px; }
          .footer .footer__inner .footer__left .nav__footer .nav__main li a {
            line-height: 30px;
            color: #FFFFFF; }
            .footer .footer__inner .footer__left .nav__footer .nav__main li a:hover {
              color: #FFC59E; }
        .footer .footer__inner .footer__left .nav__footer .nav__news {
          flex-basis: 192px;
          margin-left: 100px; }
          .footer .footer__inner .footer__left .nav__footer .nav__news li a {
            line-height: 30px;
            color: #FFFFFF; }
            .footer .footer__inner .footer__left .nav__footer .nav__news li a:hover {
              color: #FFC59E; }
    .footer .footer__inner .footer__right {
      display: flex;
      flex-direction: column;
      width: 40%; }
      @media screen and (max-width: 790px) {
        .footer .footer__inner .footer__right {
          width: 100%; } }
      .footer .footer__inner .footer__right .footer__download {
        flex-grow: 1; }
        @media screen and (max-width: 790px) {
          .footer .footer__inner .footer__right .footer__download {
            display: flex;
            justify-content: center;
            margin-bottom: 15px; } }
        .footer .footer__inner .footer__right .footer__download > img {
          max-width: 100%;
          max-height: 100%; }
        .footer .footer__inner .footer__right .footer__download a + a {
          margin-left: 15px; }
          @media screen and (max-width: 790px) {
            .footer .footer__inner .footer__right .footer__download a + a {
              margin-left: 20px; } }
        @media screen and (max-width: 1109px) {
          .footer .footer__inner .footer__right .footer__download a img {
            width: 110px; } }
      .footer .footer__inner .footer__right .footer__socials {
        flex-grow: 1;
        margin-bottom: 30px; }
        @media screen and (max-width: 790px) {
          .footer .footer__inner .footer__right .footer__socials {
            text-align: center; } }
        .footer .footer__inner .footer__right .footer__socials a + a {
          margin-left: 50px; }
          @media screen and (max-width: 1325px) {
            .footer .footer__inner .footer__right .footer__socials a + a {
              margin-left: 25px; } }
          @media screen and (max-width: 1125px) {
            .footer .footer__inner .footer__right .footer__socials a + a {
              margin-left: 20px; } }
        .footer .footer__inner .footer__right .footer__socials a:hover #facebook {
          fill: #3b5998; }
        .footer .footer__inner .footer__right .footer__socials a:hover #instagram {
          fill: #d88921; }
        .footer .footer__inner .footer__right .footer__socials a:hover #vkontakte {
          fill: #3b5998; }
        .footer .footer__inner .footer__right .footer__socials a:hover #youtube {
          fill: red; }
      .footer .footer__inner .footer__right .footer__contact {
        flex-grow: 1;
        line-height: 30px;
        color: #FFFFFF; }
        @media screen and (max-width: 790px) {
          .footer .footer__inner .footer__right .footer__contact {
            text-align: center; } }

/*# sourceMappingURL=style.css.map */
