/*FONTS===================================================================================*/
$Brown-light:#C3B9B5;
$Black:#080606;
$Orange:#FFC59E;
$White:#FFFFFF;
$BG:#DDD4F3;
$Brown:#59443F;

//Font size---------------------------------------------------------------------------------
$text:20px;
$sub-text:30px;
$head-text:40px;
$title:80px;
$big-title:144px;

//Font family-------------------------------------------------------------------------------
$family1: 'Futura New', sans-serif;  
$family2: 'SchoolBook', serif;