/*FONTS===================================================================================*/

@font-face {
    font-family: 'Futura New';
    src: url('../../fonts/FuturaNewBook-Reg.eot');
    src: local('../../fonts/Futura New Book Reg'), local('../../fonts/FuturaNewBook-Reg'),
        url('../../fonts/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/FuturaNewBook-Reg.woff2') format('woff2'),
        url('../../fonts/FuturaNewBook-Reg.woff') format('woff'),
        url('../../fonts/FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../../fonts/FuturaNewBold-Reg.eot');
    src: local('../../fonts/Futura New Bold Reg'), local('../../fonts/FuturaNewBold-Reg'),
        url('../../fonts/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/FuturaNewBold-Reg.woff2') format('woff2'),
        url('../../fonts/FuturaNewBold-Reg.woff') format('woff'),
        url('../../fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SchoolBook';
    src: url('../../fonts/TeXGyreSchola-Bold.woff2') format('woff2'),
        url('../../fonts/TeXGyreSchola-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SchoolBook';
    src: url('../../fonts/TeXGyreSchola-Regular.woff2') format('woff2'),
        url('../../fonts/TeXGyreSchola-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "variables.scss";

/* BODY===============================================================================*/
body{
    margin: 0;
    background-color: $White;
    -webkit-font-smoothing: antialiased;
    font-family: $family1;
    font-weight: normal;
    font-size: $text;
}

*,
*:before,
*:after {
    box-sizing:border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;       
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

/* Container===============================================================================*/

.container__wide {    
    max-width: 1760px;
    margin: 0 auto; 
    padding: 0 15px;   
}

.container { 
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 15px;    
}

/* HEADER===============================================================================*/

.header {
    background-color: $White;
    color: $Brown-light;
    width: 100%;    
    padding: 84px 0;  
    font-weight: bold;
    line-height: 20px;                                   
    @media screen and (max-width: 1199px) {    
        font-weight: normal;  
    } 
    @media screen and (max-width: 991px) {    
        position: relative;
        padding: 30px 0 260px; 
    }
    
    .header__inner {
        display: flex;                
        align-items: center;
        @media screen and (max-width: 1699px) {    
            justify-content: space-between;;   
        }  
        
        .header__logo {            
            text-align: center;
            margin-right: 245px;
            @media screen and (max-width: 1699px) {    
                margin-right: 0;   
            }
        }

        .nav__head {

            &.show {
                display: block;
            }
            @media screen and (max-width: 991px) {    
                display: none;                
                width: 100%;
                text-align: center;
                position: absolute;
                right: 0;
                top: 27%;                
                background-color: $Brown;
                z-index: 10;  
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                @media screen and (max-width: 991px) {    
                    flex-direction: column;
                    text-align: center;  
                }  
                @media screen and (max-width: 575px) {    
                    align-items: flex-end;
                    padding: 0 15px;
                }
                
                li {
                    + {
                        li {
                            margin-left: 80px;
                            @media screen and (max-width: 1699px) {    
                                margin-left: 50px;
                            }
                            @media screen and (max-width: 1199px) {    
                                margin-left: 30px;   
                            }
                            @media screen and (max-width: 991px) {    
                                margin-left: 0;
                                padding-top: 40px;   
                            }
                        }
                    }

                    a {                        
                        color: $Brown-light;          
                        text-transform: uppercase;
                        transition: color 0.3s ease;                                 

                        &:hover {
                            color: $Orange;
                        }
                    }
                }
            }
        }

        .burger {
            display: none;
            background: none;
            border: 0;
            cursor: pointer;
            padding: 9px 2px;
            @media screen and (max-width: 991px) {    
                display: block; 
                margin-left: 58px; 
            }
            @media screen and (max-width: 575px) {    
                margin-left: 0;
            }

            .burger__item {
                width: 50px;
                display: block;
                height: 4px;
                background-color: $Orange;
                font-size: 0;
                color: transparent;
                position: relative;
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    background-color: $Orange;
                    top: -10px;
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    background-color: $Orange;
                    top: 10px;
                }
            }
        }
        
        .header__city {
            display: flex;            
            align-items: center;           
            color: $Orange;
            text-transform: uppercase;
            margin-left: auto;
            >* {
                + {
                    * {
                        margin-left: 19px;
                        @media screen and (max-width: 1199px) {    
                            margin-left: 10px;   
                        }
                    }
                }
            }

            @media screen and (max-width: 1699px) {    
                margin-left: 0;  
            }
            @media screen and (max-width: 575px) {    
                display: none;
            }
        }
    }
}

/* TEAM===============================================================================*/
.team {
    padding: 100px 0;
    @media screen and (max-width: 991px) {
        padding: 15px 0;
    }

    .team__inner {
        display: grid;
        grid-template-columns: 419px 1fr;
        gap: 132px;
        @media screen and (max-width: 1550px) {
            gap: 70px;
        }
        @media screen and (max-width: 1250px) {
            grid-template-columns: 1fr 2fr;
            gap: 35px;
        }
        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr;
        }

        .left__inner {
            @media screen and (max-width: 991px) {
                display: none;
            }

            h1 {
                font-family: $family2;
                font-style: normal;
                font-weight: 400;
                font-size: $title;
                line-height: 110px;
                color: $Black;
                margin-bottom: 100px;
                @media screen and (max-width: 1250px) {
                    font-size: $title - 20;
                }
            }
    
            .subtitle__inner {
                display: flex;
                flex-direction: column;

                a {
                    font-weight: bold;
                    line-height: 30px;
                    color: $Brown-light;
                    text-transform: uppercase;
                    + {
                        a {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    
        .right__inner {
    
            .right__inner-about {
                margin-bottom: 100px;

                h4 {
                    font-family: $family2;
                    line-height: 40px;
                    font-size: $sub-text;
                    margin-bottom: 50px;
                }

                .right__inner-photo {
                    margin-bottom: 50px;

                    img {
                        max-width: 100%;
                        border-radius: 20px
                    }
                }
    
                .right__inner-text {
                    line-height: 30px;
                    color: $Brown;
                }
            }

            .right__inner-specialist {

                h4 {
                    font-family: $family2;
                    line-height: 40px;
                    font-size: $sub-text;
                    margin-bottom: 50px;
                }

                .right__inner-wrapper {
                    display:grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-rows: 255px;
                    gap: 25px;
                    @media screen and (max-width: 1250px) {
                        gap: 15px;
                    }
                    @media screen and (max-width: 991px) {
                        grid-template-columns: 1fr;
                    }

                    .right__wrapper-item {                      
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 0 5px;
                        background-color: $White;
                        box-shadow: 6px 6px 3px -5px lightgrey;
                        border-radius: 20px;
        
                        &:hover {
                            border: 1px solid $Orange;
                            box-shadow: 6px 6px 3px -5px $Orange;
                        }

                        .wrapper-inner {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .item__photo {                            
                                max-width: 100%;
                            }
    
                            .item__experience {
                                
                                p {
                                    font-weight: bold;
                                    font-size: 15px;
                                    line-height: 20px;
                                    color: $Orange;
                                }
                            }
    
                            h6 {                            
                                font-size: 15px;
                                line-height: 15px;
                                color:$Brown-light;
                            }
    
                            .item__fio {                            
                                color: $Black;
                                line-height: 25px;
                                margin-bottom: 10px;
                            }
    
                            .item__specialization {                            
                                color: $Black;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*FOOTER==========================================================================*/

.footer {
    width: 100%;
    padding: 80px 0 60px;
    background-color: $Brown;
    @media screen and (max-width: 790px) {
        padding: 50px 0;
    }

    .footer__inner {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        .footer__left {                  
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 170px;
            @media screen and (max-width: 1451px) {
                margin-right: 100px;
            }
            @media screen and (max-width: 1161px) {
                margin-right: 50px;
            }
            @media screen and (max-width: 790px) {
                margin-right: 0;
                max-width: 100%;  
            }

            .footer__label {
                display: flex;
                align-items: center; 
                margin-bottom: 29px;               
    
                .footer__logo {
                    background-color: $White;
                    border-radius: 103px;
                    width: 90px;
                    height: 90px;
                    padding: 19px 12px;
                    margin-right: 22px;
                }
    
                .footer__logo-name {
                    color: $White;

                    span {
                        font-family: $family2;
                        font-weight: bold;
                        font-size: $head-text + 10;
                        line-height: 46px;
                        @media screen and (max-width: 575px) {
                            line-height: 100%;
                            font-size: $sub-text;
                        }
                    }
    
                    p {
                        line-height: 20px;
                        font-weight: normal;
                    }
                }
            }

            .nav__footer {
                display: flex;
                justify-content: center;
                @media screen and (max-width: 1101px) {
                    display: none;
                }

                .nav__confident {
                    flex-basis: 192px;
                    margin-left: 100px;
                    @media screen and (max-width: 1451px) {
                        margin-left: 65px;
                    }

                    li {
                        a {
                            line-height: 30px;
                            color: $White;
                            
                            &:hover {
                                color: $Orange;
                            }
                        }
                    }
                }

                .nav__main {
                    flex-basis: 192px;
                    margin-left: 100px;
                    li {
                        a {
                            line-height: 30px;
                            color: $White;
                            &:hover {
                                color: $Orange;
                            }
                        }
                    }
                }

                .nav__news {
                    flex-basis: 192px;
                    margin-left: 100px;
                    li {
                        a {
                            line-height: 30px;
                            color: $White;
                            &:hover {
                                color: $Orange;
                            }
                        }
                    }
                }
            }
        }

        .footer__right {
            display: flex;            
            flex-direction: column;
            width: 40%;            
            @media screen and (max-width: 790px) {                
                width: 100%;                    
            }                    

            .footer__download {
                flex-grow: 1;
                @media screen and (max-width: 790px) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;                   
                }
                
                >img {
                    max-width: 100%;
                    max-height: 100%;
                }

                a {
                    + {
                        a {
                        margin-left: 15px; 
                        @media screen and (max-width: 790px) {
                            margin-left: 20px;
                            }
                        }
                    }

                    img {
                        @media screen and (max-width: 1109px) {
                            width: 110px;
                        }
                    }
                }
            }

            .footer__socials {
                flex-grow: 1;
                margin-bottom: 30px;
                @media screen and (max-width: 790px) {
                    text-align: center;
                }

                a {
                    + {
                        a {
                            margin-left: 50px;
                            @media screen and (max-width: 1325px) {
                                margin-left: 25px;
                            }
                            @media screen and (max-width: 1125px) {
                                margin-left: 20px;
                            }
                        }
                    }

                    &:hover {                                    
                        #facebook {
                            fill: #3b5998;
                        }
                        
                        #instagram {
                            fill: #d88921;
                        }

                        #vkontakte {
                            fill: #3b5998;
                        }

                        #youtube {
                            fill: red;
                        }
                    } 
                }                            
            }

            .footer__contact {
                flex-grow: 1;
                line-height: 30px;
                color: $White;
                @media screen and (max-width: 790px) {
                    text-align: center;
                }
            }
        }       
    }
}


